header{
    background-image: url('../img/ebimpe.jpg');
    height: 750px;
    width: auto;
    background-size: cover;
    background-position: center;
}
.square{
    height: 50px;
    width: 10px;
    background-color: gray;
}